
<h4>Post a Comment</h4>

<%= form_for [ @product, @comment ] do |f| %>
 <div class="input-field">
  <%= f.label :body, for: 'textarea_comment' %>
  <%= f.text_area :body, id: 'textarea_comment', class: 'materialize-textarea' %>
</div>
<div class = "input-field">
  <%= f.submit 'comment', class: "waves-effect waves-light btn" %>
</p>
<% end %>
