.input-field input[type=password]:focus + label {
  color: #5d68c1;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid #5d68c1;
  box-shadow: 0 1px 0 0 #5d68c1;
}
.input-field input[type=email]:focus + label {
  color: #5d68c1;
}
/* label underline focus color */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #5d68c1;
  box-shadow: 0 1px 0 0 #5d68c1;
}
/*.btn{

*/
.cancel-account-zone{
  margin-top: 0.5em;
}
.btn-cancel-account{
  background-color: #e53935;
}
.btn-cancel-account:hover{
  background-color: #d50000;
}
.row-login{
  border: 2px solid #7e57c2;
  margin-top: 1em;
  border-radius: 0.5em;
}
.btn-login-user{
  background-color: #4a148c;
  margin-bottom: 2em;
}
.btn-login-user:hover{
  background-color: #ba68c8;
}

.email-login{
  width: 80%;
}
.h5-login{
  text-align: center;
  margin-top: 2em;
}

.btn-create-user{
  background-color: #ef6c00;
  margin-bottom: 2em;
}

.btn-create-user:hover{
  background-color: #ffa726;
}
.btn-update-user{

}
.btn-update-user{
  background-color: #ef6c00;
  margin-bottom: 2em;
}

.btn-update-user:hover{
  background-color: #ffa726;
}
